/* Agrega aqui tu CSS */
body {
    margin: 20px;
}
.contenedor {
    border: orange 2px solid;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: justify;
    padding: 10px 20px;
}

h2 {
    font-size: 15px;
    display: inline;    
    border-bottom: orange 2px solid;
    padding-left: 30px;
}
@keyframes animacion {
    0% {
        
        height: 300px;
    }
    100% {
        height: 600px;
    }            
}

.contenedor:hover {
    animation: animacion 2s ease-in-out 0s infinite;
}


